
header
{
	width: 100%;
	background: #FFFFFF;
	line-height:inherit;
}
body
{
	background-color: #F6F7F8;
	margin-left:15%;
	margin-right:15%;
}
.image-wrapper
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	width: 50px;
}
.div1
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 44px;
	font-weight: 900;
	text-align: center;
}
.div2
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}
.div3
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
.div3left
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}
button
{
	margin-top: 1em;
	margin-bottom: 0.5em;
    display: block;
    margin: 0 auto;
	width: 150px;
	height: 56px;
	border-radius: 8px;
	background-color: #FFDD2D;
	border: #FFDD2D;
}
button:hover
{
	background-color:#FCC521;
	transition: 0.3s;
}
button:active
{
	background-color:#FAB619;
	transition: 0.3s;
}
button:focus
{
	border: #3333337A;
	transition: 0.3s;
}
img
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	margin: 0 auto;
}
.img-left
{
	align-items: flex-start;
}
.page-wrapper
{
	display: table;
	width: 100%;
	height: 100%;
    justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 120px;
}
.panel_1_m
{
	display: table-cell;
	width: 10%;
	height: 100%;
	text-align: center;
}
.panel_1_2
{
	display: table-cell;
	width: 47.5%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 24px;
}
.panel_1_3
{
	display: table-cell;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	border-radius: 24px;
}
.panel_1_3t
{
	display: table-cell;
	width: 30%;
	height: 70%;
	text-align: center;
	vertical-align: middle;
}
.space_1_3
{
	display: table-cell;
	width: 5%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	border-radius: 24px;
}
.panel_2_3
{
	display: table-cell;
	width: 66%;
	height: 100%;
	text-align: center;
	background-color: #f6f8fa;
	border-radius: 24px;
}
.panel_1_4
{
	display: table-cell;
	width: 21.25%;
	height: 100%;
	padding-top: 24px;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 24px;
}
.panel
{
	display: inline-block;
	align-items: center;
	padding-top: 32px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
}
.content-wrapper
{
	display: table-cell;
}
.content
{
	width: 100px;
	margin: 0 auto;
}
ul
{
    list-style: none;
	text-align: left;
	align-items: flex-start
}
ul li:before
{
    content:  "—";
    position: relative;
    left:     -5px;
}
.number_circle
{
	margin: 0 auto;
	align-items: center;
    border-radius: 25%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #333333;
    border: 2px solid #333333;
    color: #FFFFFF;
    text-align: center;

    font: 32px Arial, sans-serif;
}